<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center me-md-auto text-dark text-decoration-none">
      <h3>
        <app-icon icon="bootstrap"></app-icon>
        Taller Modularidad
      </h3>
    </div>

    <ul class="nav nav-pills">
      @for (navbarItem of navbarItems; track navbarItem) {
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="navbarItem.url">{{
            navbarItem.label
          }}</a>
        </li>
      }
    </ul>
  </header>
</div>
<div class="divider-spacing"></div>
